<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Aashroy API | Decoding Apocalypse</title>
  </head>
  <body>
    <div class="apibox">
      <div class="get">
        <h3>Aashroy APIs</h3>
        <p style="margin-left: 1rem">
          Public API for all the homeless data uploaded by user
        </p>
        <div class="box">
          <button class="pgbtn">GET</button>
          <div class="linkbox">
            <a
              target="_blank"
              rel="noreferrer"
              href="https://aashroy-api.herokuapp.com/api/upload"
            >
              https://aashroy-api.herokuapp.com/api/upload
            </a>
          </div>
        </div>
      </div>
      <div class="get">
        <p style="margin-left: 1rem">
          Public API for all the donations made by users of Aashroy
        </p>
        <div class="box">
          <button class="pgbtn">GET</button>
          <div class="linkbox">
            <a href="https://aashroy-api.herokuapp.com/api/donation">
              https://aashroy-api.herokuapp.com/api/donation
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/index.js"></script>
</html>
